<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="pubsEntities" connectionString="metadata=res://*/Pubs.Model.csdl|res://*/Pubs.Model.ssdl|res://*/Pubs.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INPM-G531711-1\G531711;Initial Catalog=pubs;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>