<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdventureEntities" connectionString="metadata=res://*/AdventureModel.csdl|res://*/AdventureModel.ssdl|res://*/AdventureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INPM-G531711-1\G531711;Initial Catalog=AdventureWorks2008;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>