<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="AdventureEntities" connectionString="metadata=res://*/AdventureModel.csdl|res://*/AdventureModel.ssdl|res://*/AdventureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INPM-G531711-1\G531711;Initial Catalog=AdventureWorks2008;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <!--<add key="ClientValidationEnabled" value="true" />-->
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <unity>
    <typeAliases>
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="IRepository" type="Adventure.Data.Infrastructure.IRepository, Adventure.Data" />
      <typeAlias alias="RepositoryBase" type="Adventure.Data.Infrastructure.RepositoryBase, Adventure.Data" />
      <!--<typeAlias alias="IDepartmentRepository" type="Adventure.Data.IDepartmentRepository, Adventure.Data" />
      <typeAlias alias="DepartmentRepository" type="Adventure.Data.DepartmentRepository, Adventure.Data" />-->
      <!--<typeAlias alias="IDepartmentService" type="Adventure.Service.IDepartmentService, Adventure.Service" />
      <typeAlias alias="DepartmentService" type="Adventure.Service.DepartmentService, Adventure.Service" />-->
      <!--<typeAlias alias="IListRepository" type="Adventure.Data.Infrastructure.IListRepository, Adventure.Data" />
      <typeAlias alias="ListRepository" type="Adventure.Data.ListRepository, Adventure.Data" />-->
      <typeAlias alias="IPurchaseRepository" type="Adventure.Data.IPurchaseRepository, Adventure.Data" />
      <typeAlias alias="PurchaseRepository" type="Adventure.Data.PurchaseRepository, Adventure.Data" />
      <typeAlias alias="IPurchaseService" type="Adventure.Service.IPurchaseService, Adventure.Service" />
      <typeAlias alias="PurchaseService" type="Adventure.Service.PurchaseService, Adventure.Service" />
      <typeAlias alias="IProductRepository" type="Adventure.Data.IProductRepository, Adventure.Data" />
      <typeAlias alias="ProductRepository" type="Adventure.Data.ProductRepository, Adventure.Data" />
      <typeAlias alias="IVendorRepository" type="Adventure.Data.IVendorRepository, Adventure.Data" />
      <typeAlias alias="VendorRepository" type="Adventure.Data.VendorRepository, Adventure.Data" />
      <typeAlias alias="IShipMethodRepository" type="Adventure.Data.IShipMethodRepository, Adventure.Data" />
      <typeAlias alias="ShipMethodRepository" type="Adventure.Data.ShipMethodRepository, Adventure.Data" />
      <!--<typeAlias alias="IMasterService" type="Adventure.Service.IMasterService, Adventure.Service" />
      <typeAlias alias="MasterService" type="Adventure.Service.MasterService, Adventure.Service" />-->
      <!--<typeAlias alias="ITestClass" type="Adventure.Data.Infrastructure.IRepository, Adventure.Data" />
      <typeAlias alias="TestClass" type="Adventure.Data.Repositories.TestClass, Adventure.Data" />-->
      <typeAlias alias="IUnitOfWork" type="Adventure.Data.Infrastructure.IUnitOfWork, Adventure.Data" />
      <typeAlias alias="UnitOfWork" type="Adventure.Data.Infrastructure.UnitOfWork, Adventure.Data" />
    </typeAliases>
    <containers>
      <container name="Default">
        <types>
          <!--<type type="IDepartmentRepository" mapTo="DepartmentRepository">
            <lifetime type="singleton" />
          </type>
          <type type="IDepartmentService" mapTo="DepartmentService">
            <lifetime type="singleton" />
          </type>-->
          <type type="IPurchaseRepository" mapTo="PurchaseRepository">
            <lifetime type="singleton" />
          </type>
          <type type="IPurchaseService" mapTo="PurchaseService">
            <lifetime type="singleton" />
          </type>
          <type type="IProductRepository" mapTo="ProductRepository">
            <lifetime type="singleton" />
          </type>
          <type type="IVendorRepository" mapTo="VendorRepository">
            <lifetime type="singleton" />
          </type>
          <type type="IShipMethodRepository" mapTo="ShipMethodRepository">
            <lifetime type="singleton" />
          </type>
          <!--<type type="IListRepository'1" mapTo="ListRepository">
            <lifetime type="singleton" />
          </type>

          <type type="IMasterService" mapTo="MasterService">
            <lifetime type="singleton" />
          </type>-->
          <type type="IUnitOfWork" mapTo="UnitOfWork">
            <lifetime type="singleton" />
          </type>
          <!--<type type="ITestClass" mapTo="TestClass">            
          </type>-->
        </types>
      </container>
    </containers>
  </unity>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>